@model BBS.Models.Branch
@{
    ViewData["Title"] = "Branch Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-dark text-white">
        <div class="row justify-content-between align-content-between">
            <div class="col-6">
                <h3>Branch ID: @Model.Id</h3>
            </div>
            <div class="col-6">
                <h3>Hospital ID: @Model.HospitalId</h3>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="row justify-content-center">
            <h4>Branch Details</h4>
        </div>
        <hr class="w-75" />

        <div class="row">
            <div class="col-2">
                <h5>Hospital Name</h5>
            </div>
            <div class="col-10">
                <h5>@Model.Hospital.Name</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2">
                <h5>Branch Code</h5>
            </div>
            <div class="col-10">
                <h5>@Model.Code</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2">
                <h5>City</h5>
            </div>
            <div class="col-10">
                <h5>@Model.City</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2">
                <h5>Address 1<span class="text-danger">*</span></h5>
            </div>
            <div class="col-10">
                <h5>@Model.Address1</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2">
                <h5>Address 2</h5>
            </div>
            <div class="col-10">
                <h5>@Model.Address2</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2">
                <h5>Postal Code</h5>
            </div>
            <div class="col-10">
                <h5>@Model.PostalCode</h5>
            </div>
        </div>

    </div>
    <div class="card-footer bg-dark">
        <div class="row">
            <div class="col-2">
                <a asp-action="AddBranch" asp-route-id="@Model.Id" class="btn btn-light form-control">Update</a>
            </div>
            <div class="col-2">
                <a asp-action="Index" class="btn btn-light form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>